<!-- <div class="row"> -->
    <!--<div class="row">
      <div class="col-md-5">
        <app-contact-list></app-contact-list>
      </div>
      <div class="col-md-5">
        <a class="btn btn-sm btn-default" (click)="toggleList()" style="margin-top: 1rem; margin-bottom: 1rem">Toggle Details</a>-->
        <!--<app-contact-detail></app-contact-detail>
        </div>
      </div>-->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <cms-contact-list></cms-contact-list>
      </div>
      <div class="col-md-5">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-1"></div>
    </div>
