<div class="panel panel-default">
    <div class="panel-heading">
      <h2>{{contact.name}}</h2>
      <div class="flex-container">
        <img src="{{contact.imageUrl}}" alt="{{contact.name}}" style="margin-right: 150px;">
          <!-- <a class="btn btn-primary">Edit</a>&nbsp;
          <a class="btn btn-danger">Delete</a> -->
        <a class="btn btn-primary" routerLink="edit">Edit</a>
        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
      </div>
    </div>
    <div class="panel-body">
      <div><strong>Email:</strong> {{contact.email}}</div>
      <div><strong>Phone:</strong> {{contact.phone}}</div>

            <div *ngFor="let contact of this.contact.group; let i = index">
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
          </div>
  </div>