<div class="panel planel-default" style="border: 1px solid lightgray;">
    <div class="panel-heading" style="background-color: whitesmoke;">
      <div class="row pad-left-right" style="padding-right: 10px; padding-left: 10px;">
        <div class="span pull-left title"><span style="font-size: 25px; font-weight: bold">Contacts</span>
        </div>
        <button class="btn btn-success pull-right">New Contact</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">

          <cms-contact-item
            *ngFor="let contactD of contacts"
            [contact]="contactD"
            (click)="onSelected(contactD)">
          </cms-contact-item>
        </div>
      </div>
    </div>
</div>